# Preparing Building Electricity consumption data
---

### Overview
1. Inspect raw data
2. Process building imagery data
3. Process meteo and load profile data
---

We start with importing hyper parameters and modules

In [1]:
import hyper_buildingelectricity
import prep_building_electricity
import pandas as pd

HYPER = hyper_buildingelectricity.HyperBuildingElectricity()

### 1. Inspect raw data

In [2]:
df_consumption, df_building_images, df_meteo_dict = prep_building_electricity.import_all_data(HYPER)

display(df_consumption)
display(df_building_images)
display(df_meteo_dict['meteo_1_2014.csv'])

,building ID,1,2,3,4,5,6,7,8,9,...,450,451,452,453,454,455,456,457,458,459
0,cluster ID,32.000000,48.000000,57.000000,76.000000,11.000000,11.000000,11.000000,24.000000,11.000000,...,16.000000,44.000000,63.000000,16.000000,53.000000,16.000000,44.000000,63.000000,83.000000,73.000000
1,year,2014.000000,2014.000000,2014.000000,2014.000000,2014.000000,2014.000000,2014.000000,2014.000000,2014.000000,...,2014.000000,2014.000000,2014.000000,2014.000000,2014.000000,2014.000000,2014.000000,2014.000000,2014.000000,2014.000000
2,2014-01-01 00:15:00,0.561772,16.180502,0.649652,0.650358,2.351030,0.675435,0.073020,0.478699,0.539064,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,2014-01-01 00:30:00,0.842658,15.056856,0.433101,0.789721,3.920245,1.004783,0.074243,0.390285,0.542180,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,2014-01-01 00:45:00,0.561772,14.794672,0.697774,0.789721,3.861395,0.268303,0.066085,0.356182,0.405077,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35037,2014-12-31 23:00:00,0.561772,18.296702,3.344504,0.464542,0.158300,0.994937,0.072204,0.899296,0.369244,...,1.218254,0.204380,0.458663,0.012286,0.708488,1.494477,0.051873,0.287947,0.040328,0.431560
35038,2014-12-31 23:15:00,0.561772,15.562497,0.866202,0.510996,3.339937,0.708419,0.127275,4.499009,0.504789,...,0.346095,0.218005,0.458663,1.167134,0.273734,0.942170,0.074509,0.267380,0.000000,0.503487
35039,2014-12-31 23:30:00,0.561772,15.637407,0.384979,0.371633,3.901994,0.054153,0.158685,4.832456,0.384823,...,0.083063,0.190754,0.393140,1.461988,0.491111,0.812216,0.068850,0.226244,0.040328,0.431560
35040,2014-12-31 23:45:00,0.842658,15.431405,0.264673,0.371633,3.934771,0.070891,0.076283,5.109065,0.433121,...,0.083063,0.218005,0.327616,1.461988,0.144918,0.730994,0.034896,0.329083,0.120983,0.071927
35041,2015-01-01 00:00:00,0.561772,15.094311,0.553407,0.464542,3.918010,0.244673,0.074651,4.591212,0.442469,...,0.083063,0.258881,0.425901,1.474274,0.169071,0.706628,0.076395,0.185109,0.040328,0.035963

,458,337,428,192,218,84,185,118,317,289,...,351,309,97,183,391,266,273,419,102,384
0,130656.0,110176.0,126720.0,129984.0,129584.0,130992.0,134304.0,132608.0,133216.0,132400.0,...,135024.0,132336.0,135312.0,130992.0,113296.0,123008.0,123584.0,135696.0,129936.0,131344.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,2.0,65.0,40.0,15.0,0.0,9.0,8.0,12.0,6.0,3.0,...,29.0,0.0,2.0,9.0,11.0,2.0,1.0,1.0,23.0,15.0
296,2.0,75.0,116.0,19.0,4.0,5.0,4.0,8.0,10.0,3.0,...,35.0,1.0,3.0,22.0,15.0,8.0,1.0,2.0,20.0,12.0
297,0.0,61.0,84.0,16.0,1.0,5.0,3.0,7.0,19.0,2.0,...,17.0,1.0,3.0,16.0,8.0,1.0,2.0,0.0,6.0,9.0
298,1.0,74.0,103.0,13.0,4.0,3.0,5.0,8.0,21.0,0.0,...,19.0,0.0,4.0,41.0,19.0,9.0,5.0,0.0,14.0,6.0
299,5.0,57.0,279.0,33.0,2.0,3.0,1.0,30.0,50.0,1.0,...,19.0,2.0,10.0,89.0,78.0,11.0,4.0,1.0,524.0,4.0

,air_density,cloud_cover,local_time,precipitation,radiation_surface,radiation_toa,snow_mass,snowfall,temperature,wind_speed
0,1.153,0.824,2014-01-01 01:00:00,0.000,0.0,0.0,23.151,0.0,-4.794,3.578
1,1.153,0.824,2014-01-01 01:15:00,0.000,0.0,0.0,23.151,0.0,-4.794,3.578
2,1.153,0.824,2014-01-01 01:30:00,0.000,0.0,0.0,23.151,0.0,-4.794,3.578
3,1.153,0.824,2014-01-01 01:45:00,0.000,0.0,0.0,23.151,0.0,-4.794,3.578
4,1.152,0.921,2014-01-01 02:00:00,0.008,0.0,0.0,23.153,0.0,-4.478,3.551
...,...,...,...,...,...,...,...,...,...,...
35035,1.198,0.033,2014-12-31 23:45:00,0.000,0.0,0.0,36.560,0.0,-10.617,3.495
35036,1.198,0.042,2015-01-01 00:00:00,0.000,0.0,0.0,36.567,0.0,-10.402,3.437
35037,1.198,0.042,2015-01-01 00:15:00,0.000,0.0,0.0,36.567,0.0,-10.402,3.437
35038,1.198,0.042,2015-01-01 00:30:00,0.000,0.0,0.0,36.567,0.0,-10.402,3.437
35039,1.198,0.042,2015-01-01 00:45:00,0.000,0.0,0.0,36.567,0.0,-10.402,3.437

### 2. Process building imagery data

In [3]:
prep_building_electricity.process_building_imagery(HYPER, df_building_images)

,building_458,building_337,building_428,building_192,building_218,building_84,building_185,building_118,building_317,building_289,...,building_351,building_309,building_97,building_183,building_391,building_266,building_273,building_419,building_102,building_384
0,130656.0,110176.0,126720.0,129984.0,129584.0,130992.0,134304.0,132608.0,133216.0,132400.0,...,135024.0,132336.0,135312.0,130992.0,113296.0,123008.0,123584.0,135696.0,129936.0,131344.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,2.0,65.0,40.0,15.0,0.0,9.0,8.0,12.0,6.0,3.0,...,29.0,0.0,2.0,9.0,11.0,2.0,1.0,1.0,23.0,15.0
296,2.0,75.0,116.0,19.0,4.0,5.0,4.0,8.0,10.0,3.0,...,35.0,1.0,3.0,22.0,15.0,8.0,1.0,2.0,20.0,12.0
297,0.0,61.0,84.0,16.0,1.0,5.0,3.0,7.0,19.0,2.0,...,17.0,1.0,3.0,16.0,8.0,1.0,2.0,0.0,6.0,9.0
298,1.0,74.0,103.0,13.0,4.0,3.0,5.0,8.0,21.0,0.0,...,19.0,0.0,4.0,41.0,19.0,9.0,5.0,0.0,14.0,6.0
299,5.0,57.0,279.0,33.0,2.0,3.0,1.0,30.0,50.0,1.0,...,19.0,2.0,10.0,89.0,78.0,11.0,4.0,1.0,524.0,4.0

### 3. Process meteo and load profile data

In [4]:
(
    df_training, 
    df_validation, 
    df_testing 
) = prep_building_electricity.process_meteo_and_load_profiles(HYPER, df_consumption, df_meteo_dict)

display(df_training)
display(df_validation)
display(df_testing)

Training data   :    40%
 Validation data :    10%
 Testing data    :    50%

,year,month,day,hour,quarter_hour,building_id,air_density_1,air_density_2,air_density_3,air_density_4,...,load_87,load_88,load_89,load_90,load_91,load_92,load_93,load_94,load_95,load_96
84786,2014.0,4.0,17.0,1.0,15.0,235.0,1.163,1.163,1.163,1.163,...,1.621165,1.980674,1.806548,1.817807,2.117272,1.652688,1.602402,0.342997,0.211652,0.341495
153784,2014.0,4.0,30.0,1.0,15.0,430.0,1.133,1.133,1.133,1.133,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
83429,2014.0,7.0,29.0,1.0,15.0,231.0,1.109,1.109,1.109,1.109,...,0.845496,0.634122,0.915954,0.915954,0.422748,0.352290,0.211374,0.281832,0.211374,0.211374
59432,2014.0,10.0,30.0,0.0,15.0,164.0,1.143,1.143,1.143,1.143,...,0.419003,0.451234,1.250741,0.399306,0.248895,0.245314,0.260534,0.805774,0.871132,0.369761
135565,2014.0,5.0,31.0,1.0,15.0,376.0,1.150,1.150,1.150,1.150,...,1.984313,0.908704,0.853069,1.594868,1.186879,0.927249,1.094154,1.112699,1.928678,0.630529
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78142,2014.0,2.0,2.0,0.0,15.0,217.0,1.161,1.161,1.161,1.161,...,0.493544,0.254388,0.347309,0.054838,0.047222,0.039605,0.051792,0.076164,0.060931,0.060931
53577,2014.0,10.0,15.0,1.0,15.0,148.0,1.113,1.113,1.113,1.113,...,2.471971,1.552879,1.642546,1.923776,1.868753,2.253916,1.931928,2.482160,3.405328,4.191957
125385,2014.0,7.0,10.0,1.0,15.0,346.0,1.095,1.095,1.095,1.095,...,0.791994,0.329997,0.351997,0.923993,0.989992,0.197998,0.044000,0.153999,0.065999,0.087999
74159,2014.0,3.0,6.0,0.0,15.0,205.0,1.171,1.171,1.171,1.171,...,5.367036,2.555731,0.610369,1.575533,2.660967,1.548473,0.733645,0.841888,1.855160,0.457025
35009,2014.0,12.0,1.0,0.0,15.0,96.0,1.091,1.091,1.091,1.091,...,0.115514,0.131509,0.149280,0.151057,0.133286,0.143949,0.131509,0.131509,0.143949,0.106629

,year,month,day,hour,quarter_hour,building_id,air_density_1,air_density_2,air_density_3,air_density_4,...,load_87,load_88,load_89,load_90,load_91,load_92,load_93,load_94,load_95,load_96
6,2014.0,1.0,7.0,0.0,15.0,1.0,1.141,1.141,1.141,1.141,...,0.842658,0.561772,0.561772,0.842658,0.561772,0.561772,0.842658,0.561772,0.561772,0.842658
8,2014.0,1.0,9.0,0.0,15.0,1.0,1.134,1.134,1.134,1.134,...,0.561772,0.842658,0.561772,0.561772,0.842658,0.561772,0.842658,0.561772,0.842658,0.561772
22,2014.0,1.0,23.0,0.0,15.0,1.0,1.164,1.164,1.164,1.164,...,0.561772,0.561772,0.561772,0.561772,0.561772,0.561772,0.842658,0.561772,0.561772,1.123544
25,2014.0,1.0,26.0,0.0,15.0,1.0,1.153,1.153,1.153,1.153,...,0.561772,0.561772,1.404430,1.404430,1.404430,1.123544,0.842658,0.561772,0.561772,0.842658
30,2014.0,1.0,31.0,0.0,15.0,1.0,1.164,1.164,1.164,1.164,...,1.123544,0.561772,1.123544,0.561772,0.842658,0.842658,0.561772,0.842658,0.842658,0.842658
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164550,2014.0,10.0,28.0,0.0,15.0,459.0,1.123,1.123,1.123,1.123,...,0.431560,0.467524,0.467524,0.431560,0.431560,0.359633,0.395597,0.575414,0.791194,1.006974
164569,2014.0,11.0,16.0,0.0,15.0,459.0,1.120,1.120,1.120,1.120,...,0.071927,0.000000,0.000000,0.035963,0.000000,0.035963,0.071927,0.071927,0.035963,0.000000
164595,2014.0,12.0,12.0,0.0,15.0,459.0,1.138,1.138,1.138,1.138,...,0.287707,0.287707,0.503487,0.395597,0.395597,0.827157,1.078900,0.503487,0.215780,0.143853
164605,2014.0,12.0,22.0,0.0,15.0,459.0,1.139,1.139,1.139,1.139,...,0.503487,0.647340,0.647340,0.539450,0.539450,0.575414,0.539450,0.755230,0.755230,0.071927
164612,2014.0,12.0,29.0,0.0,15.0,459.0,1.203,1.203,1.203,1.203,...,0.503487,1.042937,0.467524,0.503487,0.467524,0.431560,0.395597,1.258717,1.726241,0.431560

,year,month,day,hour,quarter_hour,building_id,air_density_1,air_density_2,air_density_3,air_density_4,...,load_87,load_88,load_89,load_90,load_91,load_92,load_93,load_94,load_95,load_96
118712,2014.0,3.0,29.0,0.0,15.0,328.0,1.131,1.131,1.131,1.131,...,0.189871,0.233688,0.598824,0.803301,0.233688,0.715668,0.598824,0.189871,0.116844,0.073027
73880,2014.0,5.0,31.0,1.0,15.0,204.0,1.146,1.146,1.146,1.146,...,0.266188,0.245712,0.266188,0.348092,0.307140,0.122856,0.122856,0.143332,0.102380,0.102380
96007,2014.0,1.0,13.0,0.0,15.0,266.0,1.110,1.110,1.110,1.110,...,1.257646,1.167815,1.347478,1.257646,3.278864,3.278864,3.054284,2.021218,2.021218,1.796638
30823,2014.0,6.0,13.0,1.0,15.0,85.0,1.088,1.088,1.088,1.088,...,0.170151,0.170151,1.683596,1.740313,1.743298,1.752254,1.746284,1.767179,1.764194,1.749269
18566,2014.0,11.0,13.0,0.0,15.0,51.0,1.138,1.138,1.138,1.138,...,0.807875,0.620412,0.573547,0.546766,0.319133,0.252182,0.252182,0.292353,0.305743,0.267804
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94627,2014.0,4.0,3.0,1.0,15.0,262.0,1.105,1.105,1.105,1.105,...,0.246446,0.205371,0.328594,2.135864,2.300161,0.205371,0.164297,0.246446,0.328594,0.328594
81514,2014.0,4.0,30.0,1.0,15.0,226.0,1.133,1.133,1.133,1.133,...,2.299043,1.710508,2.506909,1.855764,1.431267,1.293525,1.224654,1.244689,1.168305,1.234671
56028,2014.0,7.0,3.0,1.0,15.0,155.0,1.127,1.127,1.127,1.127,...,0.131612,0.113369,1.535039,1.540252,1.565011,1.479007,0.861342,0.247587,0.890010,0.837887
146832,2014.0,4.0,13.0,1.0,15.0,411.0,1.137,1.137,1.137,1.137,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
53693,2014.0,2.0,8.0,0.0,15.0,149.0,1.149,1.149,1.149,1.149,...,0.240049,0.258514,0.265031,0.231359,0.450770,0.223756,0.179222,0.129257,0.131429,0.142291