# Preparing Building Electricity consumption data
---

### Overview
1. Inspect raw data
2. Process all data
---

We start with importing hyper parameters and modules

In [1]:
import hyper_buildingelectricity
import prep_building_electricity
import pandas as pd

HYPER = hyper_buildingelectricity.HyperBuildingElectricity()

### 1. Inspect raw data

In [2]:
df_consumption, df_building_images, df_meteo_dict = prep_building_electricity.import_all_data(HYPER)

display(df_consumption)
display(df_building_images)
display(df_meteo_dict['meteo_1_2014.csv'])

,building ID,1,2,3,4,5,6,7,8,9,...,450,451,452,453,454,455,456,457,458,459
0,cluster ID,32.000000,48.000000,57.000000,76.000000,11.000000,11.000000,11.000000,24.000000,11.000000,...,16.000000,44.000000,63.000000,16.000000,53.000000,16.000000,44.000000,63.000000,83.000000,73.000000
1,year,2014.000000,2014.000000,2014.000000,2014.000000,2014.000000,2014.000000,2014.000000,2014.000000,2014.000000,...,2014.000000,2014.000000,2014.000000,2014.000000,2014.000000,2014.000000,2014.000000,2014.000000,2014.000000,2014.000000
2,2014-01-01 00:15:00,0.561772,16.180502,0.649652,0.650358,2.351030,0.675435,0.073020,0.478699,0.539064,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,2014-01-01 00:30:00,0.842658,15.056856,0.433101,0.789721,3.920245,1.004783,0.074243,0.390285,0.542180,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,2014-01-01 00:45:00,0.561772,14.794672,0.697774,0.789721,3.861395,0.268303,0.066085,0.356182,0.405077,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35037,2014-12-31 23:00:00,0.561772,18.296702,3.344504,0.464542,0.158300,0.994937,0.072204,0.899296,0.369244,...,1.218254,0.204380,0.458663,0.012286,0.708488,1.494477,0.051873,0.287947,0.040328,0.431560
35038,2014-12-31 23:15:00,0.561772,15.562497,0.866202,0.510996,3.339937,0.708419,0.127275,4.499009,0.504789,...,0.346095,0.218005,0.458663,1.167134,0.273734,0.942170,0.074509,0.267380,0.000000,0.503487
35039,2014-12-31 23:30:00,0.561772,15.637407,0.384979,0.371633,3.901994,0.054153,0.158685,4.832456,0.384823,...,0.083063,0.190754,0.393140,1.461988,0.491111,0.812216,0.068850,0.226244,0.040328,0.431560
35040,2014-12-31 23:45:00,0.842658,15.431405,0.264673,0.371633,3.934771,0.070891,0.076283,5.109065,0.433121,...,0.083063,0.218005,0.327616,1.461988,0.144918,0.730994,0.034896,0.329083,0.120983,0.071927
35041,2015-01-01 00:00:00,0.561772,15.094311,0.553407,0.464542,3.918010,0.244673,0.074651,4.591212,0.442469,...,0.083063,0.258881,0.425901,1.474274,0.169071,0.706628,0.076395,0.185109,0.040328,0.035963

,458,337,428,192,218,84,185,118,317,289,...,351,309,97,183,391,266,273,419,102,384
0,130656.0,110176.0,126720.0,129984.0,129584.0,130992.0,134304.0,132608.0,133216.0,132400.0,...,135024.0,132336.0,135312.0,130992.0,113296.0,123008.0,123584.0,135696.0,129936.0,131344.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,2.0,65.0,40.0,15.0,0.0,9.0,8.0,12.0,6.0,3.0,...,29.0,0.0,2.0,9.0,11.0,2.0,1.0,1.0,23.0,15.0
296,2.0,75.0,116.0,19.0,4.0,5.0,4.0,8.0,10.0,3.0,...,35.0,1.0,3.0,22.0,15.0,8.0,1.0,2.0,20.0,12.0
297,0.0,61.0,84.0,16.0,1.0,5.0,3.0,7.0,19.0,2.0,...,17.0,1.0,3.0,16.0,8.0,1.0,2.0,0.0,6.0,9.0
298,1.0,74.0,103.0,13.0,4.0,3.0,5.0,8.0,21.0,0.0,...,19.0,0.0,4.0,41.0,19.0,9.0,5.0,0.0,14.0,6.0
299,5.0,57.0,279.0,33.0,2.0,3.0,1.0,30.0,50.0,1.0,...,19.0,2.0,10.0,89.0,78.0,11.0,4.0,1.0,524.0,4.0

,air_density,cloud_cover,local_time,precipitation,radiation_surface,radiation_toa,snow_mass,snowfall,temperature,wind_speed
0,1.153,0.824,2014-01-01 01:00:00,0.000,0.0,0.0,23.151,0.0,-4.794,3.578
1,1.153,0.824,2014-01-01 01:15:00,0.000,0.0,0.0,23.151,0.0,-4.794,3.578
2,1.153,0.824,2014-01-01 01:30:00,0.000,0.0,0.0,23.151,0.0,-4.794,3.578
3,1.153,0.824,2014-01-01 01:45:00,0.000,0.0,0.0,23.151,0.0,-4.794,3.578
4,1.152,0.921,2014-01-01 02:00:00,0.008,0.0,0.0,23.153,0.0,-4.478,3.551
...,...,...,...,...,...,...,...,...,...,...
35035,1.198,0.033,2014-12-31 23:45:00,0.000,0.0,0.0,36.560,0.0,-10.617,3.495
35036,1.198,0.042,2015-01-01 00:00:00,0.000,0.0,0.0,36.567,0.0,-10.402,3.437
35037,1.198,0.042,2015-01-01 00:15:00,0.000,0.0,0.0,36.567,0.0,-10.402,3.437
35038,1.198,0.042,2015-01-01 00:30:00,0.000,0.0,0.0,36.567,0.0,-10.402,3.437
35039,1.198,0.042,2015-01-01 00:45:00,0.000,0.0,0.0,36.567,0.0,-10.402,3.437

### 2. Process all data

In [3]:
df_consumption_new, df_building_images_new, df_meteo_dict_new = prep_building_electricity.process_all_data(
    HYPER, 
    df_consumption, 
    df_building_images, 
    df_meteo_dict
)

display(df_consumption_new)
display(df_building_images_new)
display(df_meteo_dict_new['meteo_1_2014.csv'])

,time_stamp,year,month,day,hour,quarter_hour,building_id,cluster_id,load_1,load_2,...,load_87,load_88,load_89,load_90,load_91,load_92,load_93,load_94,load_95,load_96
0,2014-01-01 00:15:00,2014,1,1,0,15,1,32,0.561772,0.842658,...,0.561772,0.561772,0.842658,0.561772,0.842658,0.561772,0.842658,0.561772,0.561772,0.842658
1,2014-01-02 00:15:00,2014,1,2,0,15,1,32,0.561772,0.842658,...,0.842658,0.561772,0.561772,0.842658,0.561772,0.561772,0.842658,0.561772,0.561772,0.842658
2,2014-01-03 00:15:00,2014,1,3,0,15,1,32,0.561772,0.561772,...,0.842658,0.561772,0.561772,0.842658,0.561772,0.842658,0.561772,0.561772,0.842658,0.561772
3,2014-01-04 00:15:00,2014,1,4,0,15,1,32,0.561772,0.842658,...,0.561772,0.842658,0.561772,0.561772,0.842658,0.561772,0.842658,0.561772,0.561772,0.842658
4,2014-01-05 00:15:00,2014,1,5,0,15,1,32,0.561772,0.842658,...,0.561772,0.561772,0.842658,0.561772,0.842658,0.561772,0.561772,0.842658,0.842658,1.404430
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3635,2014-12-26 00:15:00,2014,12,26,0,15,10,11,0.042123,0.046962,...,0.106447,0.110147,0.146293,0.093639,0.088231,0.076562,0.076562,0.235094,0.079124,0.059200
3636,2014-12-27 00:15:00,2014,12,27,0,15,10,11,0.041839,0.042408,...,0.067739,0.050093,0.056354,0.069447,0.076847,0.061193,0.043546,0.105024,0.023339,0.027608
3637,2014-12-28 00:15:00,2014,12,28,0,15,10,11,0.026185,0.021916,...,0.109862,0.057208,0.075708,0.060054,0.060339,0.052654,0.195247,1.830373,1.620325,1.612356
3638,2014-12-29 00:15:00,2014,12,29,0,15,10,11,1.583325,1.725634,...,0.102462,0.093924,0.071439,0.073147,0.079693,0.067170,0.065462,0.151416,0.814005,1.594425
3639,2014-12-30 00:15:00,2014,12,30,0,15,10,11,1.581048,1.566817,...,0.092785,0.067170,0.067739,0.062900,0.056070,0.050946,0.059770,0.248186,0.065747,0.058347

,building_458,building_337,building_428,building_192,building_218,building_84,building_185,building_118,building_317,building_289,...,building_351,building_309,building_97,building_183,building_391,building_266,building_273,building_419,building_102,building_384
0,130656.0,110176.0,126720.0,129984.0,129584.0,130992.0,134304.0,132608.0,133216.0,132400.0,...,135024.0,132336.0,135312.0,130992.0,113296.0,123008.0,123584.0,135696.0,129936.0,131344.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,2.0,65.0,40.0,15.0,0.0,9.0,8.0,12.0,6.0,3.0,...,29.0,0.0,2.0,9.0,11.0,2.0,1.0,1.0,23.0,15.0
296,2.0,75.0,116.0,19.0,4.0,5.0,4.0,8.0,10.0,3.0,...,35.0,1.0,3.0,22.0,15.0,8.0,1.0,2.0,20.0,12.0
297,0.0,61.0,84.0,16.0,1.0,5.0,3.0,7.0,19.0,2.0,...,17.0,1.0,3.0,16.0,8.0,1.0,2.0,0.0,6.0,9.0
298,1.0,74.0,103.0,13.0,4.0,3.0,5.0,8.0,21.0,0.0,...,19.0,0.0,4.0,41.0,19.0,9.0,5.0,0.0,14.0,6.0
299,5.0,57.0,279.0,33.0,2.0,3.0,1.0,30.0,50.0,1.0,...,19.0,2.0,10.0,89.0,78.0,11.0,4.0,1.0,524.0,4.0

,air_density,cloud_cover,local_time,precipitation,radiation_surface,radiation_toa,snow_mass,snowfall,temperature,wind_speed
0,1.153,0.824,2014-01-01 01:00:00,0.000,0.0,0.0,23.151,0.0,-4.794,3.578
1,1.153,0.824,2014-01-01 01:15:00,0.000,0.0,0.0,23.151,0.0,-4.794,3.578
2,1.153,0.824,2014-01-01 01:30:00,0.000,0.0,0.0,23.151,0.0,-4.794,3.578
3,1.153,0.824,2014-01-01 01:45:00,0.000,0.0,0.0,23.151,0.0,-4.794,3.578
4,1.152,0.921,2014-01-01 02:00:00,0.008,0.0,0.0,23.153,0.0,-4.478,3.551
...,...,...,...,...,...,...,...,...,...,...
35035,1.198,0.033,2014-12-31 23:45:00,0.000,0.0,0.0,36.560,0.0,-10.617,3.495
35036,1.198,0.042,2015-01-01 00:00:00,0.000,0.0,0.0,36.567,0.0,-10.402,3.437
35037,1.198,0.042,2015-01-01 00:15:00,0.000,0.0,0.0,36.567,0.0,-10.402,3.437
35038,1.198,0.042,2015-01-01 00:30:00,0.000,0.0,0.0,36.567,0.0,-10.402,3.437
35039,1.198,0.042,2015-01-01 00:45:00,0.000,0.0,0.0,36.567,0.0,-10.402,3.437